 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-group item-details text-left">
                                <li>{{ post.description.title }}:
                                    <p class="text-muted">{{ post.description.text }}</p>
                                </li>
                                <!--<li>
                                    Available: <strong>{{ post.project-date }}<br/><br/></strong>
                                </li>-->
                                <li>{{ post.general-reqs.title }}:
                                    <ul class="text-muted" style="font-size:14px;line-height:1.75;">
                                        {% for req in post.general-reqs.text %}
                                            <li>{{ req.para }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>{{ post.experience.title }}:
                                    <ul class="text-muted" style="font-size:14px;line-height:1.75;">
                                        {% for exp in post.experience.text %}
                                            <li>{{ exp.para }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>{{ post.nice-to-have.title }}:
                                    <ul class="text-muted" style="font-size:14px;line-height:1.75;">
                                        {% for nice in post.nice-to-have.text %}
                                            <li>{{ nice.para }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
